<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link type="css" rel="stylesheet" href="../public/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
</head>

<body>
  {{{ body }}}
</body>

<style>
  body {
    background: lightgray;
    color: black;
  }

  form {
    margin: auto;
    width: 50%;
    text-align: center;
    color: black;
    font-family: 'Arimo', sans-serif;

  }

  .buttonClass {
    margin: 0 auto;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }

  h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    color: black;
    font-family: 'Arimo', sans-serif;
  }

  h2 {
    margin: auto;
    width: 50%;
    text-align: center;
    color: black;
    font-family: 'Arimo', sans-serif;
  }

  h3 {
    margin: auto;
    width: 50%;
    text-align: center;
    color: black;
    font-family: 'Arimo', sans-serif;
  }

  .detailWrapper {
    margin: auto;
    border: solid black 2px;
    background-color: ghostwhite;
    width: 30%;
    padding: 15px;
  }

  #block {
    display: block;
  }
</style>

</html>