<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link type="css" rel="stylesheet" href="../public/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
</head>

<body>
  {{!-- <h1>FORM FIELDS</h1> --}}
  {{{ body }}}
</body>

<style>
  body {
    background: #333;
  }

  form {
    margin: auto;
    width: 50%;
    text-align: center;
    color: ghostwhite;

  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }

  h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    color: ghostwhite;
    font-family: 'Arimo', sans-serif;
  }
</style>

</html>