<div class="detailWrapper">
  <h1>FAD NAME: {{ name }}</h1>
  <br>
  <h2>LATITUDE: {{ latitude }}</h2>
  <h2>LOGITUDE: {{ longitude }}</h2>
  <br>
  <h3>NEAREST ISLAND: {{ island }}</h3>
  <br>

  <a href="/fad"><button class="buttonClass">Submit Report</button></a>
  <br>
  <a href="/reportLogs"><button class="buttonClass">View Logs</button></a>

  <br><br> {{> footer}}

</div>