<h1>DETAIL</h1>

<form action="/detail" method="post">
  <label>
    <input type="text" name="name" placeholder="NAME" id="field1">
  </label>
  <br><br>
  <label>
    <input type="password" name="description" placeholder="PASSWORD" , id="">
  </label>
  <br><br>
  <input type="submit" value="Submit">