<h1>FORM FIELDS</h1>
<form action="/fad" method="post">
  <label>
    <input type="text" name="name" placeholder="NAME" id="field1">
  </label>
  <br><br>
  <label>
    <input type="text" name="description" placeholder="DESCRIPTION" , id="">
  </label>
  <br><br>
  <label>Primary Gear:
    <br><br>
  </label>
  <select name="gear">
    <option value="hooks">Hooks</option>
    <option value="nets">Nets</option>
    <option value="Trawl">Trawl</option>
    <option value="Gill Net">Gill Net</option>
    <option value="other">Other</option>
  </select>
  <br><br>
  <label>Fishing From:
    <br><br>
  </label>
  <select name="gear">
    <option value="Pier/Dock">Pier/Dock</option>
    <option value="Jetty/Breakwater">Jetty/Breakwater</option>
    <option value="Bridge/Causeway">Bridge/Causeway</option>
    <option value="Charter Boat">Charter Boat</option>
    <option value="Private Boat">Private Boat</option>
    <option value="other">Other</option>
  </select>
  <br><br>
  <label>
    <input type="text" name="type" placeholder="TARGET FISH" id="">
  </label>
  <br><br>
  <label>
    <input type="text" name="subtype" placeholder="DEBRIS PRESENT" ,id="">
  </label>
  <br><br>
  <label>
    <input type="text" name="subtype" placeholder="MESSAGE" ,id="">
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>