<form action="/item/new" method="post">
  <label>
    <input type="text" name="name" placeholder="NAME" id="field1">
  </label>
  <br><br>
  <label>
    <input type="text" name="description" placeholder="DESCRIPTION" , id="">
  </label>
  <br><br>
  <label>Primary Gear:
    <br><br>
  </label>
  <select name="gear">
    <option value="hooks">Hooks</option>
    <option value="nets">Nets</option>
    <option value="trolling">Trolling</option>
    <option value="other">Other</option>
  </select>
  <br><br>
  <label>
    <input type="text" name="type" placeholder="TYPE" id="">
  </label>
  <br><br>
  <label>
    <input type="text" name="subtype" placeholder="SUBTYPE" id="">
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>